<div class="page-content">
 
    <div class="wrap goods">
        <div class="media bw" v-for="item in items">    
                <div class="media-body" style="margin-left:0px">
                    <div class="fl mgt5">
                        <p >{{item.events.awards}}</p>
                        <span class="light-color">{{item.events.title}}</span>
                    </div>
                    <div class="arrow-right fr mgt10"></div>
                    <div class="fr pic">
                        <img :attrs="item.events.picUrl" :src="item.events.picUrl+'?x-oss-process=image/resize,m_fill,h_100,w_100'">
                    </div>
                     <div class="clearfix"></div>
                    <div class="line" ></div>
                </div>
                <div class="clearfix"></div>        
        </div>
 
    </div>
</div>