
<div class="page-content" style="background:#fff">
    <div class="wrap comment" >
        <template v-for="item in items">
        <router-link  onclick="app.notificationRead(this)" data-type="comment" :from-user-id="user_id" :data-id="item.pid"  class="media bw" :to="{ name: 'topic', params: { id: item.pid }}" >
                <div class="media-ico user-ico fl mgt5">
                    <img :src="item.user.headimg">   
                </div>
                <div class="media-body">
                    <div class="mgt5">
                        <div style="padding-right: 40px;">
                        <span class="fl">{{item.user.nickname}}</span><span class="fr light-color">
                        <div v-if="item.remind == 1 && user_id==0" class="tag-new">new</div>
                        {{item.time_tran}}</span>
                         <div class="clearfix"></div>
                        </div>
                        <p class="overHidden" style="padding-right:30px">{{item.content}}</p>
                    </div>
                    <div class="arrow-right fr mgt10"></div>

                     <div class="clearfix"></div>
                   <div class="line"></div>

                </div>
                <div class="clearfix"></div>
                
        </router-link >
          <div class="clearfix"></div>
</template>
    </div>
</div>