<div class="page-content"> 
    <div class="wrap">
        <div class="banner">
            <component-swiper :id="swiper_id"></component-swiper>
        </div>
        <ul class="nav-tab bw">
            <li > <router-link :to="{ name: 'index'}" >当前活动</a></li>
            <li class="active"><router-link :to="{ name: 'events'}" >历史活动</a></li>
            <div class="clearfix"></div>
        </ul>
        <!-- 历史活动列表 -->
       <div class="ajaxPageContent">
          <div class="events ">
            <template v-for="item in items">
              <router-link :to="{ name: 'eventAward', params: { id: item.id ,type:'awards'}}" class="events-one bw">
                 <div class="events-join">参与人数<br><span><font>{{item.topic_count}}</font>人</span></div>
                 <div class="events-join-text"></div>
                   <img lazyLoadPic="true" :src="item.picUrl+'?x-oss-process=image/resize,w_500'">
                 <div class="events-info"><span>#{{item.title}}#</span> {{item.showInfo}}</div>
              </router-link>
            </template>
          </div>
           <div style="height:60px"></div>
       </div>
        <!-- 活动列表 -->
    </div>
 </div>
 